<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Astrea Shapes Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="languaje" content="English">


    <!-- JS -->
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
   
    <!-- CSS  -->
    <link rel="stylesheet" href="/static/css/astrea.css">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom js for main-->
    <script src="/static/js/astrea.js"></script>
   
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <img src="static/logos/astrea.svg" class="img-responsive" width="30" height="30" alt="" style="margin-top:-10px"></a><!-- Source of the logo: https://commons.wikimedia.org/wiki/File:5_Astraea_Symbol.svg-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Main</a></li>
                <li><a href="documentation.html"><i class="fa fa-newspaper-o"></i> Documentation</a></li>
                <li><a href="catalogue.html"><i class="fa fa-grav"></i> Catalogue</a></li>
                <li><a href="/swagger-ui.html"><i class="fa fa-code"></i> API REST</a></li>
                <li><a href="dissemination.html"><i class="fa fa-clone"></i> Dissemination</a></li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>




<main role="main">

    <div class="container" >
        <!-- Header section -->
        <div class="row">
            <div class="col-md-12">
                <h2>Generate  <a href="https://www.w3.org/TR/shacl/">SHACL shapes</a> from your <a href="https://www.w3.org/TR/owl-features/">ontology</a>!</h2>
            </div>
            <div class="col-md-12">
                <h4 class="checkout-step-title" style="font-weight: normal;" >This tool produces the SHACL shape that can be infered from one, or more, ontologies. Using Astrea only requires you to import an online ontology in order to generate its shapes.</h4>
            </div>
        </div>
        <!-- Info section -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="checkout-step-title">Important information</h4>
                <ul>
                                <li>Astrea will include in the generation of the SHACL shapes any ontology specified under the owl:import statment.</li>
                                <li>Astrea produces a generation report that includes the SHACL shapes to keep track of potential errors during the generation. <a href="">Reports are detailed in the Astrea ontology.</a></li>
                                <li>SHACL shapes will be generated only for the classes and properties included in the provided ontologies, or the imported ones.</li>
                            </ul>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="checkout-step-title"> <a href="/documentation.html#resources" role="button" data-parent="#accordion" >Licensing and how to cite Astrea Resources & Services</a></h4>
            </div>
        </div>
        <hr/>
        <!-- Load ontologies section -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="checkout-step-title"> <a role="button" data-parent="#accordion" >Step 1: Provide the ontologies</a></h4>
                <p class="text-left"><label> Add Ontology URIs:</label></p>
            </div>
            <div class="col-md-12" id="buildyourform">
                <div>
                    <input  class="form-control" name="ontology" id="ontology" placeholder="put here your ontology url" style="margin-top:5px;margin-bottom:5px"/>                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <button id="add"  class="btn btn-success btn-custom add" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add URI</button>
                </div>
            </div>
            
            <div class="col-md-12" id="buildyourform" style="margin-top:10px;margin-bottom:10px">
                <p class="text-left"><label> Choose Ontology file:</label></p>
                <input type="file" id="upload">
            </div>
        </div>
        <br>
        <!-- Download section -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="checkout-step-title"> <a role="button" data-parent="#accordion" >Step 2: Create and download the shapes</a></h4>
            </div>
            <div class="col-md-12">
                <button id="load"  class="btn btn-primary mb-2 btn-custom" onclick="loadontOlogies()" >Generate shapes</button>
            </div>
            <div class="col-md-12" id="spinner" style="display: none">
                <div class="loader">Loading...</div>
            </div>
            <div class="col-md-12" id="generation_success"> 
                <div class="alert alert-success" id="alert-success" style="display:none;margin-top:10px;">
                    <strong>SHACL shapes successfully generated!.</strong>
                </div>
            </div>
            <div class="col-md-12" id="generation_warning"> 
                <div class="alert alert-warning" id="alert-warning" style="display:none;margin-top:10px;">
                  <strong>Warning! the format for some of the ontologies provided with an URL could not be discovered.</strong> SHACL shapes could be partially generated if multiple urls were provided.
                </div>
            </div>
            <div class="col-md-12" id="generation_warning_input"> 
                <div class="alert alert-warning" id="alert-warning-input" style="display:none;margin-top:10px;">
                  <strong>No input provided!</strong> 
                </div>
            </div>
            <div class="col-md-12" id="generation_error"> 
                <div class="alert alert-danger" id="alert-error" style="display:none;margin-top:10px;">
                  <strong>Error!</strong> check the provided URLs.
                </div>
            </div>
            <div class="col-md-12" id="generation_error_dobuledragon"> 
                <div class="alert alert-danger" id="alert-error-dobuledragon" style="display:none;margin-top:10px;">
                  <strong>Error!</strong> provide only a set of URLs or an ontology file.
                </div>
            </div>
            <div class="col-md-12" id="generation_error_format"> 
                <div class="alert alert-danger" id="alert-error-format" style="display:none;margin-top:10px;">
                  <strong>Error!</strong> unknown ontology format, supported formats Turtle (.ttl), N-Triples (.nt), N-Quads (.nq), TriG (.trig), RDF/XML (.rdf), RDF/XML (.owl), JSON-LD (.jsonld), RDF Thrift (.trdf), RDF Thrift (.rt), RDF/JSON (.rj), TriX (.trix).
                </div>
            </div>                  
        </div>
        <br>
        

    </div>
    <br>

</main>
<footer class="footer container">
    <hr/>
    <div class="row">
        <div class="col-md-5">
            <a href="http://www.oeg-upm.net/" target="_blank">
                <img src="static/logos/oeg/oeg.png" alt="OEG logo"class="img-rounded img-responsive" width="25%" style="display:inline"/>
            </a>

            <a href="http://fi.upm.es/" target="_blank"><img src="static/logos/upm/fiLogo.png" alt="FI logo" class="img-rounded img-responsive" width="20%" style="display:inline"/></a>

            <a href="https://www.upm.es/" target="_blank" ><img src="static/logos/upm/upmlogo.png" alt="UPM logo" class="img-rounded img-responsive" style="display:inline" width="30%"/></a>
        </div>
        <div class="col-md-7">
            Alba Fernández Izquierdo, Andrea Cimmino Arriaga, and Raúl García Castro
            <br>
            Contact email: albafernandez@fi.upm.es, cimmino@fi.upm.es, or rgarcia@fi.upm.es
            <br>
            <a href="/documentation.html#resources">Licensing</a>
            <br>
            Built with <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
            Icons from <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>
            <br>
            Latest revision November, 2019
            <br><p>© Ontology Engineering Group</p>
        </div>
        
    </div>
</footer>

    <script type="text/javascript">
        var ontologyFileContent = "";
        var format = "";
        document.getElementById('upload').addEventListener('change', readFileAsString)
        function readFileAsString() {
            hideAlerts();
            var files = this.files;
            if (files.length === 0) {
                console.log('No file is selected');
                return;
            }

            var reader = new FileReader();
            reader.onload = function(event) {
                ontologyFileContent = event.target.result;
            };
            format = files[0].name;
            if(format.endsWith(".ttl")){
                format="Turtle";
            }else if(format.endsWith(".nt")){
                format="N-Triples";
            }else if(format.endsWith(".nq")){
                format="N-Quads";
            }else if(format.endsWith(".trig")){
                format="TriG";
            }else if(format.endsWith(".rdf")){
                format="RDF/XML";
            }else if(format.endsWith(".owl")){
                format="RDF/XML";
            }else if(format.endsWith(".jsonld")){
                format="JSON-LD";
            }else if(format.endsWith(".trdf")){
                format="RDF Thrift";
            }else if(format.endsWith(".rt")){
                format="RDF Thrift";
            }else if(format.endsWith(".rj")){
                format="RDF/JSON";
            }else if(format.endsWith(".trix")){
                format="TriX";
            } else {
                $('#alert-error-format').css("display", "block");
                ontologyFileContent = "";
                format = "";
            }
            if(format.length>0)
                reader.readAsText(files[0]);
        }
    </script>

</body>
</html>
